<extend name="./Public/base.html" />
<block name="title"><title>设备发放</title></block> 

<block name="content">


	<form method="POST" action="index.php?p=home&c=equipment&a=grantEquipment_update">

	<p>
		<label>资产编号:</label>

		&nbsp; &nbsp; &nbsp; &nbsp; 

		<input type="text" name="zichannum" value="{$result[0]['zichanNum']}" readonly="readonly">
	</p>

	<p>
		<label>资产描述:</label>

		&nbsp; &nbsp; &nbsp; &nbsp; 

		<input type="text" name="description" value="{$result[0]['description']}" readonly="readonly">

	</p>

	<p>
		<label>设备序列号:</label>

		&nbsp; &nbsp; 

		<input type="text" name="serialNum" value="{$result[0]['serialNum']}" readonly="readonly">

	</p>

	<p>
		<label>使用部门:</label>

		&nbsp; &nbsp; &nbsp; &nbsp; 

		<select name="bumen" id="bumen" style="width:160px;>
  			
			<option value="default">请选择部门</option>
			<for start="0" end="24" name="i">
				<option value="{$result[1][$i]}">{$result[1][$i]}</option>
			</for>

		</select>
		
	</p>
	
	<p>
		<label>使用科室:</label>

		&nbsp; &nbsp; &nbsp; &nbsp; 

		<select name="keshi" id="keshi" style="width:160px;">
  			
		</select>
		
	</p>



	
	<!--script type="text/javascript">
		$("#bumen").change(function(){

			var bumen=$("#bumen").val();
			$.post("{:U('Equipment/getkeshi_ajax')}","bumen="+bumen,function(data){
                        $("#keshi").empty();
                        var count = data.length;
                        var i = 0;
                        var b="";
                        for(i=0;i<count;i++){
                               b+="<option value='"+data[i].keshi+"'>"+data[i].keshi+"</option>";
                        }
                        $("#keshi").append(b);
			});
		});

	</script-->

	<p>
		<label>使用人员:</label>

		&nbsp; &nbsp; &nbsp; &nbsp; 

		<input type="text" name="user">
		
	</p>

	<p>
		<label>安装位置:</label>

		&nbsp; &nbsp; &nbsp; &nbsp; 
		<input type="text" name="roomNum">
		
	</p>

	<p>
		<label>使用状态:</label>

		&nbsp; &nbsp; &nbsp; &nbsp; 

		<select name="status" id="status" style="width:160px;">
			<option value="正常在用">正常在用</option>
			<option value="闲置">闲置</option>
			<option value="维修">维修</option>
			<option value="待报废">待报废</option> 			
		</select>
		
	</p>

	<input type="submit" value="发放">
	

	</form>


	<script type="text/javascript">

	$('#bumen').click(function(){  
          $(this).change(function(){
              var   bumen = $(this).val();  
              //var   type = $(this).attr('id');  
              $.ajax({  
                  cache:false,  
                  type:"POST",  
                  //url:"{:U('Equipment:getkeshi_ajax')},
                  url:"index.php?c=equipment&a=getkeshi_ajax",  
                  dataType:"json",  
                  data:{bumen: bumen},  
                  timeout:30000,  
                  error:function(){  
                      alert("error");  
                  },  
                  success:function(data){  

                   	  //alert("success");		
                      $("#keshi").empty();
                      var b="";
                      for(var d in data){
                      	b+="<option value='"+data[d]+"'>"+data[d]+"</option>";
                      }	  
                      $("#keshi").append(b);  
                  }  
              });  
             });  
        }  
    ); 

    </script> 



</block>